.footer .container{
    margin: 0 auto;
    background-color: #EFEFEF;
    margin: 20px auto 0;
}
.logo2 img{
    margin:  30px;
}
.logo2 .footerContacts{
    display: flex;
    gap: 10px;
    margin: 10px 30px auto;
}

.footer .subscribe{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 98%;
}
.form input{
    width: 90%;
    height: 30px;
    padding: 10px;
}

.subscribe p{
    margin-bottom: 20px;
}
.subscribe .chevron{
    background-color: #D9D9D9;
    vertical-align: middle;
    height: 30px;
    width: 25px;
}

/* for mobile*/
@media(max-width:540px){
    .footer .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2px;
    }
    .footer .subscribe{
        margin: 0 auto;
        width: 82%;
    }
}

/* for tablets */
@media(min-width:601px) and (max-width:899px){
    .footer .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: flex-start;
        align-items: center;
        height: 260px;
    }
    
    .footer .subscribe{
        padding-top: 82px;
        margin: 0 auto;
        width: 82%;
    }
}
/* for laptops */
@media(min-width:900px){
    .footer .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        height: 200px;
    }
    .copyright{
        background-color: #EFEFEF;
        font-size: 20px;
    }
    .footer .subscribe{
        padding-top: 85px;
}
}

/* Copyright Section */
.copyright{
    background-color: #EFEFEF;
    font-size: 18px;
    padding: 30px;
}
.copyright hr{
    margin: 20px auto;
    padding-left: 30px;
    justify-content: center;
}
.copyright .terms{
    margin-left: 20px;
    line-height: 2.5;
}